@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  display: flex;
  flex-direction: column;
  font-family: 'GmarketSansMedium';
  background-color: #A1C7E0;
  color: #FFF;
}

h1 {
  font-family: 'Vitro_core';
  font-size: 40px;
  letter-spacing: 15px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

p{
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}


.input_board {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.input_board select {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 0 30px;
  background-color: #FFF;
  font-size: 20px;
  font-family: 'GmarketSansMedium';
}


.input_board input{
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 0 15px;
  width: 100px;
  background-color: #FFF;
  font-size: 20px;
  font-family: 'GmarketSansMedium';
}


.input_board button {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 0 15px;
  color: #FFF;
  background-color: #F28705;
  font-family: 'GmarketSansMedium';
}

.input_board button:hover{
   color:#F28705;
   background-color: #FFF;
 }

#list {
  width: 600px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.result-element {
  display: flex;
  border: medium solid #818274;
  margin-bottom: 10px;
}

.re-rm {
  margin-left: 10%;
  margin-right: 10%
}


.result{
  display: none;
  justify-content: center;
  align-items: center;
}

.result button{
  border: none;
  border-radius: 20px;
  border: 3px solid #edf0ff;
  background-color: rgba(0,0,0,0);
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  font-family: 'GmarketSansMedium';
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.result button.result_table:hover{
   color:#2D3E40;
   background-color: #E4F2E7;
 }

 .result button.URL_link:hover{
    color:#2D3E40;
    background-color: #E4F2E7;
  }

  .result button.share_btn:hover{
     color:black;
     background-color: #E4F2E7;
   }

 .result button.share_btn{
   border: none;
   border-radius: 20px;
   border: 3px solid #fff000;
   background-color: #fff000;
   color: black;
   padding: 10px 15px;
   font-size: 20px;
   font-family: 'GmarketSansMedium';
   margin-top: 80px;
   margin-bottom: 100px;
   margin-left: auto;
   margin-right: auto;
 }
