@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  display: flex;
  flex-direction: column;
  font-family: 'GmarketSansMedium';
  background-color: #A1C7E0;
  color: #FFF;
}

h1 {
  font-family: 'Vitro_core';
  font-size: 40px;
  letter-spacing: 15px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

p{
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}


.input_board {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.input_board select {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 0 30px;
  background-color: #FFF;
  font-size: 20px;
  font-family: 'GmarketSansMedium';
  cursor: pointer;
}


.input_board input{
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 0 15px;
  width: 100px;
  background-color: #FFF;
  font-size: 20px;
  font-family: 'GmarketSansMedium';
  cursor: pointer;
}


.input_board button {
  border: 3px solid #1481ba;
  border-radius: 0;
  color: #1481ba;
  background-color: #FFF;
  font-size: 25px;
  line-height: 1.5em;
  letter-spacing: .1em;
  font-family: "Vitro_core";
  padding: 10px 15px;
  margin: 0 45px;
  cursor: pointer;
  transition: all .3s;
  box-shadow: inset 0 0 0 0 #1481ba;

}



.input_board button:hover{
  box-shadow: inset 0 0 0 100vmax #1481ba;
  color: #fff;
 }

#list {
  width: 600px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.result-element {
  display: flex;
  border: medium solid #818274;
  margin-bottom: 10px;
}

.re-rm {
  margin-left: 10%;
  margin-right: 10%
}


.result{
  display: none;
  justify-content: center;
  align-items: center;
}

.result button{
  border: none;
  border-radius: 20px;
  border: 3px solid #edf0ff;
  background-color: rgba(0,0,0,0);
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  font-family: 'GmarketSansMedium';
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.result button.result_table:hover{
   color:#2D3E40;
   background-color: #E4F2E7;
 }

 .result button.URL_link:hover{
    color:#2D3E40;
    background-color: #E4F2E7;
  }

 .result button.share_btn{
   border: none;
   background-color: #fff000;
   color: black;
   padding: 10px 15px;
   font-size: 22px;
   font-family: 'GmarketSansMedium';
   margin-top: 80px;
   margin-bottom: 100px;
   margin-left: auto;
   margin-right: auto;
   transition: all 0.3s;
   box-shadow: inset 0 0 0 0 #FFF;
 }

 .result button.share_btn:hover{
    background-color:  #FFF;
    color:black;
  }

  @keyframes backInDown {
  0% {
    -webkit-transform: translateY(-1200px) scale(0.7);
    transform: translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateY(0px) scale(0.7);
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__backInDown {
  -webkit-animation-name: backInDown;
  animation-name: backInDown;
}

.animate__backInUp {
  -webkit-animation-name: backInUp;
  animation-name: backInUp;
}


.animate__zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}

.animate__slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
